:root {
  font-family: Georgia, serif;
}

.perimeter {
  fill: none;
  stroke: none;
}

#root-perimeter {
  stroke: lightgray;
}

.day-box {
  fill: none;
  stroke: gray;
}

.day-number {
  margin: 1rem;
}
